.success-message, .error-message {
  font-size: 16px;
  margin: 1rem;
  border: 3px solid;
  padding: 1rem;
}

.success-message {
  background-color: gray;
  color: lightgreen;
  border-color: lightgreen;
}

.error-message {
  background-color: lightgrey;
  color: darkred;
  border-color: red;
}